@model KonigLabs.LevisJeans.Models.ShareVm

@{
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<header></header>
<section class="text-center">
    <h2 class="number">ПОДЕЛИТЬСЯ РЕЗУЛЬТАТОМ<br/> В СОЦИАЛЬНОЙ СЕТИ</h2>
    <a target="_blank" href="https://vk.com/share.php?image=http%3A//37.228.91.148%3A8117/Content/Images/Phrases/@(Model.Img).png&url=http%3A//www.levi.com/RU/ru_RU/&title=@Uri.EscapeDataString(Model.Phrase)&description=%20" class="content share vk"></a>
    <a target="_blank" href="https://www.facebook.com/sharer/sharer.php?u=http%3A//37.228.91.148%3A8117/Home/Image/@(Model.Img)" class="content share fb"></a>
    <p class="noshare">
        <a href="@Url.Action("Thanks", "Home")" class="btn">Не хочу делиться</a>
    </p>
</section>