@using AutoMapper
@using KonigLabs.LevisJeans.Models
@model KonigLabs.LevisJeans.Models.CustomerVm

@{
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<header>
    <h1>Соглашение</h1>
</header>
<section>
    <div class="content mCustomScrollbar">
        <p>Регистрируясь в настоящем мобильном приложении я:</p>
        <p>1. Даю свое согласие ООО «Леви Штраусс Москва», а также третьим лицам, действующим по поручению ООО «Леви Штраусс Москва», на обработку согласно Федеральному закону «О персональных данных» №152-ФЗ от 27.07.2006г. предоставляемых мной при регистрации персональных данных на срок 5 лет с даты предоставления таких данных;</p>
        <p>2. Даю свое согласие на получение sms, e-mail и почтовых рассылок информационного и рекламного характера от ООО «Леви Штраусс Москва», а также от третьих лиц, действующих по поручению ООО «Леви Штраусс Москва»;</p>
        <p>3. Даю свое согласие на трансляцию моего фотоизображения неограниченному кругу лиц на время проведения рекламной акции «We are 501!» («Мы 501-ые!»), проводимой с 15 марта 2016 года по 30 апреля 2016 года и направленной на продвижение продукции под товарным знаком «Levi’s®» (далее – Акция), без выплаты мне денежного вознаграждения.</p>
        <p>4. Согласен на то, что ООО «Леви Штраусс Москва», а также третьи лица, действующие по его поручению, могут использовать мои имя, фамилию, изображение и иные предоставленные мной при регистрации данные в рекламных целях, а также снимать/фотографировать меня для изготовления любых рекламных материалов.</p>
        <p>5. Уведомлен о том, что могу отозвать согласие на использование предоставленных мной при регистрации персональных данных путем направления почтой России заказного письма с уведомлением о вручении ООО «Леви Штраусс Москва» на адрес: 127473, г.Москва, ул. Краснопролетарская, д.16, подъезд 8, офис 7.</p>
    </div>
    <p class="accept">
        <a href="@Url.Action("Index", "Home", Mapper.Map<CustomerVm, CustomerRedirectTermVm>(Model))" class="btn">Ok</a>
    </p>
</section>
