@model KonigLabs.LevisJeans.Models.TestVm

@{
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<header></header>
<section class="question">
    <h2><span>1</span>Подворачивать джинсы<br /> или нет?</h2>
</section>
<ul class="pagination">
    <li class="active"><span>1</span><strong>Подворачивать<br /> джинсы или нет</strong></li>
    <li><span>2</span><strong>Заправлять рубашку<br /> или нет</strong></li>
    <li><span>3</span><strong>Гладить джинсы<br /> или нет</strong></li>
    <li><span>4</span><strong>Носить с ремнем<br /> или без</strong></li>
</ul>
<div href="" class="left-side test-1">
    @{
        Model.Answer1 = true;
    }
    <a href="@Url.Action("Test", "Home", Model)">Да</a>
</div>
<div href="" class="right-side test-1">
    @{
        Model.Answer1 = false;
    }
    <a href="@Url.Action("Test", "Home", Model)">Нет</a>
</div>