
@{
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<header></header>
<section class="text-center text-middle">
    <h2>СПАСИБО, ЧТО ПРОШЛИ<br /> НАШ ТЕСТ!</h2>
    <p class="accept">
        <a href="@Url.Action("Index", "Home")" class="btn">Ok</a>
    </p>
</section>